opencv-python
osmnx>=2.0.0
rasterio
streamlit
folium
geopy
trimesh
pyproj
fast-simplification
streamlit-stl==0.0.5
pympler
pydantic
maps4fs
pygmdl
owslib
tqdm
scipy
streamlit-folium
python-dotenv
requests-cache
mapbox-earcut
manifold3d
countryflag
git+https://github.com/iwatkot/maps4fsapi.git
